@charset "utf-8";

* {
	margin: 0;
	font-family: Microsoft YaHei;
}

html, body {
    height: 100%;
}

.header {

}

.wrap {
/*    width: auto;
    max-width: 980px;*/
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;}

.footer {
    background-color: #000000;
    height: 60px;
}

.container {
    width: auto;
    max-width: 980px;
}

.wrap-container {
    margin-top: 60px;
}

.wrap-main {
    min-height: 100%;
    height: auto;
}

.wrap-left {
    min-height: 100%;
    height: auto;
}