@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    font-family: Microsoft YaHei;
}
html,body {
    background: #D0D0D0!important;
    font-family: 'Open Sans',sans-serif ,Microsoft YaHei;
    font-size: 15px;
    height: 100%
}
ul, li {
    list-style: none;
    height: auto;
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    display: block;
}
form {
    margin: 0;
    padding: 0;
    border: none;
}
div {
    height: auto;
    overflow: hidden;
}
a {
    color: #778087;
    text-decoration: none!important;
}   
input{
    font-family: Microsoft YaHei;   
}
.content, .wrapper, div {
    magin: 0;
    padding: 0;
}
ul, ol {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td {
    margin: 0;
}
address, address[dir], article, article[dir], aside, aside[dir], blockquote, blockquote[dir], body, body[dir], caption, caption[dir], center, center[dir], col, col[dir], colgroup, colgroup[dir], dd, dd[dir], dir, dir[dir], div, div[dir], dl, dl[dir], dt, dt[dir], fieldset, fieldset[dir], figcaption, figcaption[dir], figure, figure[dir], footer, footer[dir], form, form[dir], h1, h1[dir], h2, h2[dir], h3, h3[dir], h4, h4[dir], h5, h5[dir], h6, h6[dir], header, header[dir], hgroup, hgroup[dir], hr, hr[dir], html, html[dir], legend, legend[dir], li, li[dir], listing, listing[dir], main, main[dir], marquee, marquee[dir], menu, menu[dir], nav, nav[dir], noframes, noframes[dir], ol, ol[dir], p, p[dir], plaintext, plaintext[dir], pre, pre[dir], section, section[dir], summary, summary[dir], table, table[dir], tbody, tbody[dir], td, td[dir], tfoot, tfoot[dir], th, th[dir], thead, thead[dir], tr, tr[dir], ul, ul[dir], xmp, xmp[dir] {
    unicode-bidi: -moz-isolate;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}