@charset "utf-8";
/* CSS Document */
#wrap {
    height: auto !important;
    margin-bottom: -80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    min-height: 100%;
}
.content{
    margin-top: 70px;   
}
.navbar-inner{
    background-color: #F9F9F9;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border-bottom:1px solid #D4D4D4;
    min-height: 40px;
}
.pull-right {
    float: right;
}
.navbar-search {
    margin-bottom: 0;
    margin-top: 5px;
    position: relative;
}
.navbar-header span > a:hover,.navbar-nav > li > a:hover{
    color: #333!important;
}
#home_things:before, #home_things:after {
    content: "";
    display: table;
    line-height: 0;
}
.inner {
    background-color: #F9F9F9;
    font-size: 12px;
    line-height: 150%;
    padding: 10px;
    text-align: left;
}
.tab_title{
    border-bottom: 2px solid #E2E2E9;
}
.box{
    background: #fff;
    border-radius: 3px;
    border-bottom: 2px solid #E2E2E9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}
.item {
    background: url(../img/bg_item.png) repeat-x;
}
.cell {
    border-bottom: 1px solid #E2E2E2;
    font-size: 12px;
    line-height: 120%;
    padding: 10px;
    text-align: left;
}
.user{
    background: url(../img/use.png) no-repeat;
    height: 48px;
    width: 48px;
    float: left;
    border-radius: 6px;
    margin-right: 8px;
}
.node{
    color: #999999;
}
.node-title{
    float: left;
    line-height: 200%;  
}
.node-item{
    line-height: 200%;
    padding-left: 10px; 
}
.node-item a{
    font-size: 14px;
    margin-right: 20px; 
}
.info{
    font-size:12px; 
    color: #B4B4B4;
    float:left;
}
.info a{
    margin-right: 10px
}
.news_lg{
    background: url(../img/sendcloud.jpg) no-repeat;
    float:left;
    width: 500px;
    height: 500px;
}
.highlight{
    margin-bottom: 20px;    
}
.cell a{
    line-height:24px    
}
.member{
    background: url(../img/member.png) no-repeat;
    height: 73px;
    width: 73px;
    float: left
}
.user_name{
    line-height: 63px;
    margin: 10px 0 20px 10px;
    display: inline-block;
}
.dark{
    border-right: 1px solid #808080;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #808080;
    text-align: center;
    display: inline-block;
    padding:0 10px;
}
.bigger{
    display:block;
    margin-bottom: 5px;
}
.main{
    margin: 10px 0 10px 5px;    
}
.fr {
    float: right;
    text-align: right;
}
.balance_area span{
    background: url(../img/bronze.png) no-repeat;
    height: 16px;
    width: 16px;
    float: right;
    margin: 0 5px;
}
a.balance_area:link, a.balance_area:visited, .balance_area {
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #E2E2E2 100%);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-radius: 20px;
    color: #666666;
    display: inline-block;
    font-size: 11px;
    line-height: 16px;
    padding: 5px 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}
a.balance_area:hover{
    color: #000;
}
a.count_livid{
    border-radius: 15px;
    background: #699cb1;    
    display: inline-block;
    line-height: 12px;
    padding: 2px 10px;
    color: #fff;
    float: right;
    font-weight: bold;
    margin-top: -6px;
}
a.count_livid:hover {
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    background-color: #969c61;
    border-radius: 12px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    line-height: 12px;
    margin-right: 5px;
    padding: 2px 10px;
}
a.count_livid:link, a.count_livid:active {
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    background-color: #AAB0C6;
    border-radius: 12px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    line-height: 12px;
    margin-right: 5px;
    padding: 2px 10px;
}

#footer {
    background-color: #000;
    font-size: 13px;
    line-height: 35px;
}
#push, #footer {
    height: 80px;
}






