{% extends 'base.html' %}

{% block content %}
<div class="inner tab_title">发布新主题</div>
{% if form.errors %}
    {{ form.errors }}
{% endif %}
<form action="" method="POST">
{% csrf_token %}
<table>
    <tbody>
        <tr>
            <td>
                {{ form.title }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.content }}
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </tbody>
</table>
</form>
{% endblock %}