@charset "utf-8";
/* CSS Document */

.navbar-inner{
	background-color: #F9F9F9;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
	background-repeat: repeat-x;
	border-bottom:1px solid #D4D4D4;
	min-height: 40px;
}
.brand {
    color: #049CDB;
    margin-left: 40px;
    position: relative;
	font-family: "orbitron-bold";
}
.navbar .brand {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.navbar .brand span{
	line-height: 37px;	
}
.navbar-search {
    margin: 5px 1em 0 0;
    position: relative;
}
.pull-right {
    float: right;
}
.navbar-search {
    margin-bottom: 0;
    margin-top: 5px;
    position: relative;
}
form {
    margin-left: 0;
}
.navbar-header span > a:hover,.navbar-nav > li > a:hover{
	color: #333!important;
}
#home_things:before, #home_things:after {
    content: "";
    display: table;
    line-height: 0;
}
#home_things:after {
    clear: both;
}
#home_things:before, #home_things:after {
    content: "";
    display: table;
    line-height: 0;
}
#home_things {
    float: left;
    min-height: 800px;
    width: 68%;
}
#home_things .thing {
    background: #fff;
    border: 8px solid #fff;
	border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    float: left;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    position: relative;
    width: 270px;
}
#home_things .thing h4 {
    color: #999999;
    font-size: 14px;
    height: 20px;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
li {
    line-height: 22px;
    display: list-item;
}
.home-wrapper{
    width: 980px!important;
    margin: 0 auto;
}

#home_welcome h2 {
    color: #999999;
    font-size: 2em;
    margin-top: 80px;
    text-align: center;
}
input.search-query,input.search-query:focus {
    border-radius: 4px;
    height: 26px;
    margin-top: 2px;
    padding-left: 29px;
}
.navbar-search .search-query {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0;
    padding: 4px  14px
}
.loading-things {
    float: left;
    text-align: center;
    width: 100%;
}
#site_filling {
    color: #999999;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
}
#home_new_things {
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
#home_new_things li.thing {
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
}
#home_news {
    float: right;
    width: 32%;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
	margin-bottom: 2em;
}
#home_news .wrapper {
    padding: 1em 2em;
}

#footer {
    background-color: #000000;
    height: 60px;
}
.container .credit {
    margin: 20px 0;
}
.text-muted {
    color: #fff;
}