{% extends 'layout.html' %}

{% load staticfiles %}

{% block body %}
<div class="wrap">
        <div class="container">
            <div class="row wrap-container">
                <div class="col-md-8 wrap-main">
                    <div class="box">
                        {% block content %}
                        {% endblock %}  
                    </div>
                </div>
                <div class="col-md-4 wrap-left">
                    <div class="box">
                        hello<br />
                        hello<br />
                        hello<br />
                        hello<br />
                        hello<br />
                    </div>
                    <div class="box">
                        <div class="box-title">最新主题</div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="48px;"><img src="{% static 'img/pet.png' %}"></td>
                                    <td style="padding: 0; margin: 0;">
                                        <table cellpadding="0" cellspacing="0" style="padding: 0; margin: 0;">
                                            <tbody>
                                                <tr style="padding: 0; margin: 0;">
                                                    <td style="padding: 0; margin: 0;"><span class="topic-title">主题标题主题标题主题标题主题标题主题标题</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="48px;"><img src="{% static 'img/pet.png' %}"></td>
                                    <td style="padding: 0; margin: 0;">
                                        <table cellpadding="0" cellspacing="0" style="padding: 0; margin: 0;">
                                            <tbody>
                                                <tr style="padding: 0; margin: 0;">
                                                    <td style="padding: 0; margin: 0;"><span class="topic-title">主题标题主题标题主题标题主题标题主题标题</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}