{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="inner tab_title"> <a href="/?tab=tech">最新主题</a></div>
{% if lastest_topic_list %}
    {% for topic in lastest_topic_list %}
        <div class="cell item"> 
            <span class="user"></span><h5><a href="{% url 'bbs:topic' topic.id %}">{{topic.title}}</a></h5>
            <div class="info">
                <a class="node" href="/go/programmer">{{topic.node.name}}</a>
                <strong><a href="#">kailiu</a></strong> {{topic.pub_date}} 最后回复来自
                <strong><a href="/member/Mutoo">Mutoo</a></strong>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}