{% extends 'layout.html' %}

{% block body %}
<div class="container bs-docs-container content">
    <div class="row"> 
        <div class="col-md-12" role="main">
            <div class="box highlight">
                <div class="inner tab_title"> <a href="javascript:void(0);">注册</a></div>
                <div class="cell item"> 
                    <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        <tbody>
                            {{ form }}
                            <tr>
                                <td colspan="2">
                                    <input type="submit" />
                                    <input type="hidden" name="next" value="{{ next|escape }}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}