<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description">
        <meta content="" name="author">
        <title>MooBo-我们自己的论坛</title>
        {% load staticfiles %}
        {% load moobo_tags %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap.css' %}">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap-theme.css' %}">

        <!-- style CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
    <header class="navbar navbar-fixed-top bs-docs-nav navbar-inner" role="banner">
        <div class="container">
            <div class="navbar-header"> <a href="{% url 'bbs' %}" class="navbar-brand"><span>MOOBO</span> </a></div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'bbs' %}">首页</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="javascript:void(0);">欢迎您， {{ user.username }}</a></li>
                    <li><a href="{% url 'bbs:password' %}">修改密码</a></li>
                    <li><a href="{% url 'bbs:logout' %}">注销</a></li>
                    {% else %}
                    <li><a href="{% url 'bbs:login' %}">登录</a></li>
                    <li><a href="{% url 'bbs:join' %}">注册</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div id="wrap"> 
        {% block body %}
        {% endblock %}

        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container">
            <p class="muted credit"> 本论坛使用Python开发,使用django框架,前端页面样式使用bootstrap</p>
            <p class="muted credit">程序开发: <a href="#">Parus.He</a> | 页面开发: <a href="#">张雪</a></p>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript --> 
    <script src="{% static 'js/lib/jquery-1.10.2.min.js' %}"></script> 
    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
    </body>
</html>