{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="box-title">最新主题</div>
<form action="" method="post">
{% csrf_token %}
<table>
    <tbody>
        <tr>
            <td>原密码</td>
            <td><input type="password" id="old_passwd" name="old_passwd" value="" /></td>
        </tr>
        <tr>
            <td>新密码</td>
            <td><input type="password" id="passwd" name="passwd" value="" /></td>
        </tr>
        <tr>
            <td>确认新密码</td>
            <td><input type="password" id="repasswd" name="repasswd" value="" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" />
            </td>
        </tr>
    </tbody>
</table>
</form>
{% endblock %}