{% extends 'base.html' %}

{% load staticfiles %}
{% load moobo_tags %}

{% block content %}
<div class="box-title"><a href="{% url 'bbs' %}">MOOBO</a> > <a href="{% url 'bbs:node' topic.node.id %}">{{ topic.node.name }}</a></div>
<table>
    <tbody>
        <tr>
            <td width="48px;"><img src="{% static 'img/pet.png' %}"></td>
            <td style="padding: 0; margin: 0;">
                <table cellpadding="0" cellspacing="0" style="padding: 0; margin: 0;">
                    <tbody>
                        <tr style="padding: 0; margin: 0;">
                            <td style="padding: 0; margin: 0;"><a href="{% url 'bbs:topic' topic.id %}"><span class="topic-title">{{topic.title}}</span></a></td>
                        </tr>
                        <tr>
                            <td>
                                <table border="1">
                                    <tbody>
                                        <tr>
                                            <td><small>{{topic.node.name}}</small></td>
                                            <td><small>{{topic.node.category.name}}</small></td>
                                            <td><small>创建人</small></td>
                                            <td><small>{{topic.pub_date}}</small></td>
                                            <td><small>最后回复人</small></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr/>
                            <td>
                                {{topic.content|md}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}